__pycache__/
*.pyc
.venv/
venv/
dvc_storage/

data/*
!data/.gitkeep
artifacts/
mlruns/
mlflow.db

models/production/
models/v1/
models/v2/
models/zenml/
!models/.gitkeep
!models/production/.gitkeep
!models/v1/.gitkeep
!models/v2/.gitkeep
!models/zenml/.gitkeep

*.joblib
*.png
*.npz
.zen/
.zenml/
zenml.db
