stages:
  - test

variables:
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_CACHE_DIR: "1"

smoke_train:
  stage: test
  image: python:3.11-slim
  script:
    - python -m pip install --upgrade pip
    - python -m pip install -r requirements.txt
    - python -m src.train --model logreg --run_name ci_smoke
